.main{
    margin: 30px;
    background: white;
}
body{
    background: #efefef;
}
.my-publish{
    float: right;
  margin-bottom: 15px;
}
.media-object{
    width: 45px;
    height: 45px;
}
.test{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}
.Person{

}ilibili